<!DOCTYPE html>
<html lang="en">
<head>
  <title>Django Application</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Student Form</h2><hr>
  <a href="{% url 'student_list' %}" class="btn btn-primary">Student List</a><br><br>

  <form method="POST">{% csrf_token %}
    <table>
        <tr>
            <td>Name</td>
            <td>:</td>
            <td>{{ form.name }}</td>
        </tr>
        <tr>
            <td>Identity Number</td>
            <td>:</td>
            <td>{{ form.identityNumber }}</td>
        </tr>
        <tr>
            <td>Department</td>
            <td>:</td>
            <td>{{ form.department }}</td>
        </tr>
        <tr>
            <td>Address</td>
            <td>:</td>
            <td>{{ form.address }}</td>
        </tr>
        <tr>
            <td><input type="submit" value="Save" class="btn btn-success"></td>
        </tr>
    </table>
</form>
  
</div>

</body>
</html>









